In [86]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import math as m

In [3]:
data=pd.read_csv('/content/sample_data/StudentsPerformance_2.csv')

In [4]:
data

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75
...,...,...,...,...,...,...,...,...
995,female,group E,master's degree,standard,completed,88,99,95
996,male,group C,high school,free/reduced,none,62,55,55
997,female,group C,high school,free/reduced,completed,59,71,65
998,female,group D,some college,standard,completed,68,78,77
999,female,group D,some college,free/reduced,none,77,86,86

In [6]:
data['gender'].value_counts()

female    518
male      482
Name: gender, dtype: int64

In [7]:
data['parental level of education'].value_counts()

some college          226
associate's degree    222
high school           196
some high school      179
bachelor's degree     118
master's degree        59
Name: parental level of education, dtype: int64

In [8]:
female_data=data.loc[data['gender']=='female']

In [9]:
female_data

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
5,female,group B,associate's degree,standard,none,71,83,78
6,female,group B,some college,standard,completed,88,95,92
...,...,...,...,...,...,...,...,...
993,female,group D,bachelor's degree,free/reduced,none,62,72,74
995,female,group E,master's degree,standard,completed,88,99,95
997,female,group C,high school,free/reduced,completed,59,71,65
998,female,group D,some college,standard,completed,68,78,77
999,female,group D,some college,free/reduced,none,77,86,86

In [20]:
summathfemale=female_data['math score'].sum()

In [21]:
meanmathfemale=summathfemale/518

In [22]:
meanmathfemale

63.633204633204635

In [26]:
sumreadingfemale=female_data['reading score'].sum()

In [27]:
meanreadingfemale=sumreadingfemale/518

In [28]:
meanreadingfemale

72.60810810810811

In [29]:
sumwritingfemale=female_data['writing score'].sum()

In [30]:
meanwritingfemale=sumwritingfemale/518

In [31]:
meanwritingfemale

72.46718146718146

In [32]:
male_data=data.loc[data['gender']=='male']

In [33]:
male_data

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75
7,male,group B,some college,free/reduced,none,40,43,39
8,male,group D,high school,free/reduced,completed,64,64,67
10,male,group C,associate's degree,standard,none,58,54,52
...,...,...,...,...,...,...,...,...
985,male,group A,high school,standard,none,57,51,54
987,male,group E,some high school,standard,completed,81,75,76
990,male,group E,high school,free/reduced,completed,86,81,75
994,male,group A,high school,standard,none,63,63,62
996,male,group C,high school,free/reduced,none,62,55,55

In [37]:
summathmale=male_data['math score'].sum()

In [54]:
meanmathmale=summathmale/482

In [55]:
meanmathmale

68.72821576763485

In [40]:
sumreadingmale=male_data['reading score'].sum()

In [56]:
meanreadingmale=sumreadingmale/482

In [57]:
meanreadingmale

65.47302904564316

In [43]:
sumwritingmale=male_data['writing score'].sum()

In [58]:
meanwritingmale=sumwritingmale/482

In [59]:
meanwritingmale

63.31120331950208

In [49]:
course_completed=data.loc[data['test preparation course']=='completed']

In [50]:
course_completed

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
1,female,group C,some college,standard,completed,69,90,88
6,female,group B,some college,standard,completed,88,95,92
8,male,group D,high school,free/reduced,completed,64,64,67
13,male,group A,some college,standard,completed,78,72,70
18,male,group C,master's degree,free/reduced,completed,46,42,46
...,...,...,...,...,...,...,...,...
990,male,group E,high school,free/reduced,completed,86,81,75
991,female,group B,some high school,standard,completed,65,82,78
995,female,group E,master's degree,standard,completed,88,99,95
997,female,group C,high school,free/reduced,completed,59,71,65
998,female,group D,some college,standard,completed,68,78,77

In [52]:
course_none=data.loc[data['test preparation course']=='none']

In [53]:
course_none

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75
5,female,group B,associate's degree,standard,none,71,83,78
...,...,...,...,...,...,...,...,...
992,female,group D,associate's degree,free/reduced,none,55,76,76
993,female,group D,bachelor's degree,free/reduced,none,62,72,74
994,male,group A,high school,standard,none,63,63,62
996,male,group C,high school,free/reduced,none,62,55,55
999,female,group D,some college,free/reduced,none,77,86,86

In [61]:
meanmathcoursecompleted=course_completed['math score'].sum()/358

In [62]:
meanmathcoursecompleted

69.69553072625699

In [65]:
meanmathnone=course_none['math score'].sum()/642

In [66]:
meanmathnone

64.0778816199377

In [73]:
meanreadingcoursecompleted=course_completed['reading score'].sum()/358

In [74]:
meanreadingcoursecompleted

73.89385474860335

In [71]:
meanreadingcoursenone=course_none['reading score'].sum()/642

In [75]:
meanreadingcoursenone

66.53426791277259

In [76]:
meanwritingcoursecompleted=course_completed['writing score'].sum()/358
meanwritingcoursecompleted

74.41899441340782

In [77]:
meanwritingcoursenone=course_none['writing score'].sum()/642
meanwritingcoursenone

64.50467289719626

In [82]:
femalemathvariance=female_data['math score'].var()
femalemathvariance

239.98512355959164

In [88]:
femalemathstandarddeviation=m.sqrt(femalemathvariance)
femalemathstandarddeviation

15.49145324233952

In [89]:
malemathsvariance=male_data['math score'].var()
malemathstddevation=m.sqrt(malemathsvariance)
malemathstddevation

14.356277196362383

In [90]:
femalereadingvariance=female_data['reading score'].var()
femalereadingstddeviation=m.sqrt(femalereadingvariance)
femalereadingstddeviation

14.378245303231388

In [91]:
malereadingvariance=male_data['reading score'].var()
malereadingstddeviation=m.sqrt(malereadingvariance)
malereadingstddeviation

13.931832063729495

In [92]:
femalewritingvariance=female_data['writing score'].var()
femalewritingstandarddeviation=m.sqrt(femalewritingvariance)
femalewritingstandarddeviation

14.84484176575076

In [93]:
malewritingvariance=male_data['writing score'].var()
malewritingstddeviation=m.sqrt(malewritingvariance)
malereadingstddeviation

13.931832063729495

In [95]:
coursecompletedmathvariance=course_completed['math score'].var()
coursecompletedmathstddev=m.sqrt(coursecompletedmathvariance)
coursecompletedmathstddev

14.444699225388476

In [97]:
coursenonemathvariance=course_none['math score'].var()
coursenonemathstddev=m.sqrt(coursenonemathvariance)
coursenonemathstddev

15.19237563927207

In [98]:
coursecompletedreadingvariance=course_completed['reading score'].var()
coursecompletedreadingstddev=m.sqrt(coursecompletedreadingvariance)
coursecompletedreadingstddev

13.638383641348076

In [99]:
coursenonereadingvariance=course_none['reading score'].var()
coursenonereadingstddev=m.sqrt(coursenonereadingvariance)
coursenonereadingstddev

14.463885096477952

In [100]:
coursecompletedwritingvariance=course_completed['writing score'].var()
coursecompletedwritingstddev=m.sqrt(coursecompletedwritingvariance)
coursecompletedwritingstddev

13.37533484363066

In [101]:
coursenonewritingvariance=course_none['writing score'].var()
coursenonewritingstddev=m.sqrt(coursenonewritingvariance)
coursenonewritingstddev

14.999661253653368

In [104]:
data25=data.sort_values(by='math score',ascending=False)

In [105]:
data25

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
962,female,group E,associate's degree,standard,none,100,100,100
625,male,group D,some college,standard,completed,100,97,99
458,female,group E,bachelor's degree,standard,none,100,100,100
623,male,group A,some college,standard,completed,100,96,86
451,female,group E,some college,standard,none,100,92,97
...,...,...,...,...,...,...,...,...
145,female,group C,some college,free/reduced,none,22,39,33
787,female,group B,some college,standard,none,19,38,32
17,female,group B,some high school,free/reduced,none,18,32,28
980,female,group B,high school,free/reduced,none,8,24,23
59,female,group C,some high school,free/reduced,none,0,17,10

In [110]:
data25.reset_index()

,index,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,962,female,group E,associate's degree,standard,none,100,100,100
1,625,male,group D,some college,standard,completed,100,97,99
2,458,female,group E,bachelor's degree,standard,none,100,100,100
3,623,male,group A,some college,standard,completed,100,96,86
4,451,female,group E,some college,standard,none,100,92,97
...,...,...,...,...,...,...,...,...,...
995,145,female,group C,some college,free/reduced,none,22,39,33
996,787,female,group B,some college,standard,none,19,38,32
997,17,female,group B,some high school,free/reduced,none,18,32,28
998,980,female,group B,high school,free/reduced,none,8,24,23
999,59,female,group C,some high school,free/reduced,none,0,17,10

In [115]:
data25.iloc[0:249,[5]]

     math score
962         100
625         100
458         100
623         100
451         100
..          ...
667          77
781          77
151          77
51           77
514          77

[249 rows x 1 columns]